<html>
    <head>
        {{ content_for_header }}
        {{ 'style.css' | asset_url | stylesheet_tag }}
        {{ '//cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css' | stylesheet_tag }}
    </head>
    <body>
        {% render 'header' %}
        {{ content_for_layout }}
        {{ '//cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js' | script_tag }}
        {{ 'script.js' | asset_url | script_tag }}
    </body>

    <script>
        const swiper_1 = new Swiper('.gen-swiper-banner', {
            loop: true,
            autoplay: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
                bulletClass: "gen-dot",
                bulletActiveClass: "gen-dot--active"
            },
            effect: 'fade'
        });
    </script>
</html>