<html>
    <head>
        {{ content_for_header }}
        
        {{ '//cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js' | script_tag }}
        {{ 'style.css' | asset_url | stylesheet_tag }}
        {{ '//cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css' | sty lesheet_tag }}
    </head>
    <body>
        {% render 'header' %}
        {{ content_for_layout }}
        {{ 'script.js' | asset_url | script_tag }}
    </body>
</html>