<div class="gen-container--fluid">
    <div class="gen:grid gen:grid-cols-6 gen:gap-16">
        <div class="gen-collection-card gen-observed gen-fadeInUp"
            data-delay=100>
            <div class="gen-collection-card__inner">
            <a href="#" class="gen-collection-card__img">
                <figure style="--aspect-ratio: 1.56">
                <img src="{{ 'collection-card-img-1.jpg' | asset_url }}" alt=""/>
                </figure>
            </a>
            <div
                class="gen-collection-card__info gen-collection-card__info--overlap-lg">

                <div class="gen-collection-card__subtitle gen-text--lg"></div>

                <h3 class="gen-collection-card__title gen-text--2xl">
                <a href="#">Men <br> Collection</a>
                </h3>

                <a href="#" class="gen-btn gen-btn--underline">Discover
                now</a>

            </div>
            </div>
        </div> <div class="gen-collection-card gen-observed gen-fadeInUp"
            data-delay=200>
            <div class="gen-collection-card__inner">
            <a href="#" class="gen-collection-card__img">
                <figure style="--aspect-ratio: 1.56">
                <img src="{{ 'collection-card-img-2.jpg' | asset_url }}" alt>
                </figure>
            </a>
            <div
                class="gen-collection-card__info gen-collection-card__info--overlap-lg">

                <div class="gen-collection-card__subtitle gen-text--lg"></div>

                <h3 class="gen-collection-card__title gen-text--2xl">
                <a href="#">Women <br> Collection</a>
                </h3>

                <a href="#" class="gen-btn gen-btn--underline">Discover
                now</a>

            </div>
            </div>
        </div> <div class="gen-collection-card gen-observed gen-fadeInUp"
            data-delay=300>
            <div class="gen-collection-card__inner">
            <a href="#" class="gen-collection-card__img">
                <figure style="--aspect-ratio: 1.56">
                <img src="{{ 'collection-card-img-3.jpg' | asset_url }}" alt>
                </figure>
            </a>
            <div
                class="gen-collection-card__info gen-collection-card__info--overlap-lg">

                <div class="gen-collection-card__subtitle gen-text--lg"></div>

                <h3 class="gen-collection-card__title gen-text--2xl">
                <a href="#">Bags</a>
                </h3>

                <a href="#" class="gen-btn gen-btn--underline">Discover
                now</a>

            </div>
            </div>
        </div> <div class="gen-collection-card gen-observed gen-fadeInUp"
            data-delay=400>
            <div class="gen-collection-card__inner">
            <a href="#" class="gen-collection-card__img">
                <figure style="--aspect-ratio: 1.56">
                <img src="{{ 'collection-card-img-4.jpg' | asset_url }}" alt>
                </figure>
            </a>
            <div
                class="gen-collection-card__info gen-collection-card__info--overlap-lg">

                <div class="gen-collection-card__subtitle gen-text--lg"></div>

                <h3 class="gen-collection-card__title gen-text--2xl">
                <a href="#">Sneaker</a>
                </h3>

                <a href="#" class="gen-btn gen-btn--underline">Discover
                now</a>

            </div>
            </div>
        </div> 
        <div class="gen-collection-card gen-observed gen-fadeInUp"
            data-delay=500>
            <div class="gen-collection-card__inner">
            <a href="#" class="gen-collection-card__img">
                <figure style="--aspect-ratio: 1.56">
                <img src="{{ 'collection-card-img-5.jpg' | asset_url }}" alt>
                </figure>
            </a>
            <div
                class="gen-collection-card__info gen-collection-card__info--overlap-lg">

                <div class="gen-collection-card__subtitle gen-text--lg"></div>

                <h3 class="gen-collection-card__title gen-text--2xl">
                <a href="#">Sunglasses</a>
                </h3>

                <a href="#" class="gen-btn gen-btn--underline">Discover
                now</a>

            </div>
            </div>
        </div> 
    </div>
</div>

{% schema %}
{
  "name": "label section",
  "settings": [],
  "presets": [{"name": "Default"}],
  "blocks": [],
  "tag": "section",
  "class": "gen-section gen-collection-card__group--layout-1",
  "limit": 1
}
{% endschema %}