<div class="gen-container--fluid">
    <div class="gen-section__header gen-observed gen-fadeInUp">
    <div class="gen-section__header--product-filter">
        <span>You're looking for</span>
        <div class="gen-dropdown gen-dropdown--bottom    ">
        <button class="gen-dropdown__button">
            <span class="gen-dropdown__button--text">everything</span>
            <div class="gen-dropdown__button--icon">
            <img src="../imgs/icon-chervon-down.svg" alt>
            </div>
        </button>
        <div class="gen-dropdown__menu">
            <div class="gen-dropdown__menu-item">Feature</div>
            <div class="gen-dropdown__menu-item">Best selling</div>
        </div>
        </div> 
        <span>in</span>
        <div class="gen-dropdown gen-dropdown--bottom">
            <button class="gen-dropdown__button">
                <span class="gen-dropdown__button--text">all categories</span>
                <div class="gen-dropdown__button--icon">
                <img src="../imgs/icon-chervon-down.svg" alt>
                </div>
            </button>
            <div class="gen-dropdown__menu">
                <div class="gen-dropdown__menu-item">Bags</div>
                <div class="gen-dropdown__menu-item">Sneaker</div>
                <div class="gen-dropdown__menu-item">Sunglasses</div>
            </div>
        </div> 

        <button class="gen-btn gen-btn--dark gen-rounded--full">Search</button>
    </div>
    </div>
    <div class="gen-section__body">
    <div class="gen:grid gen:grid-cols-4 gen:gap-x-30 gen:gap-y-60">

        {% for product in collections['clothes'].products %}

        <div class="gen-product-card gen-observed gen-fadeInUp" data-delay=100>
            <div class="gen-product-card__media">
                <a href="{{ product.url }}" class="gen-product-card__link">
                <div class="gen-product-card__main-img">
                    <figure style="--aspect-ratio: 3/4">
                    <img src="{{product.images[0] | image_url }}" alt />
                    </figure>
                </div>
                <div class="gen-product-card__hover-img">
                    <figure style="--aspect-ratio: 3/4">
                    <img src="{{product.images[1] | image_url }}"
                        alt />
                    </figure>
                </div>
                </a>

                <div
                class="gen-product-card__action gen-product-card__action--top">

                <div class="gen-product-card__action--top-fixed">
                    <a href="#"
                    class="gen-btn--icon gen-tooltip gen-tooltip--left">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18"
                        height="18" viewBox="0 0 18 18" fill="none">
                        <g clip-path="url(#clip0_10108_37974)">
                        <path
                            d="M9 4C7 3.09944e-06 1 1.85 1 6C1 10.15 4 14 9 17C14 14 17 10.07 17 6C17 1.93 11 3.09944e-06 9 4Z"
                            stroke="#515167" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                        <defs>
                        <clippath id="clip0_10108_37974">
                            <rect width="18" height="18" fill="white" />
                        </clippath>
                        </defs>
                    </svg>
                    <div class="gen-tooltip__content">
                        Add to wishlist
                    </div>
                    </a>
                </div>

                </div>

                <div
                class="gen-product-card__action gen-product-card__action--bottom">

                <a href="#"
                    class="gen-btn gen-btn--white gen-rounded--full">Add to
                    card</a>

                <a href="javascript:;" data-target="quick-view-modal"
                    class="gen-btn gen-btn--white gen-rounded--full">Quick
                    view</a>

                </div>
            </div>

            <div class="gen-product-card__content">

                <div class="gen-product-card__rating">
                <img src="../imgs/icon-star.svg" alt>
                <img src="../imgs/icon-star.svg" alt>
                <img src="../imgs/icon-star.svg" alt>
                <img src="../imgs/icon-star.svg" alt>
                <img src="../imgs/icon-star.svg" alt>
                </div>

                <h3 class="gen-product-card__title">
                <a href="#" class="gen-product-card__name">{{ product.title | link_to:product.url }}</a>
                </h3>
                <div class="gen-product-card__price">

                <div class="gen-product-price__regular">
                    <span class="gen:visually-hidden">Regular Price</span>
                    <span
                    class="gen:gen-product-price-item--regular">{{ product.price | money }}</span>
                </div>

                </div>
            </div>
        </div> 
        {% endfor %}

    </div> 


{% schema %}
{
"name": "product section",
"settings": [],
"presets": [{"name": "Default"}],
"blocks": [],
"tag": "section",
"class": "gen-section gen-border--bottom-grey",
"limit": 1
}
{% endschema %}